@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

.bg-gray-100 {
    background-color: #f3f4f6;
}

.bg-white {
    background-color: #fff;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@utility animate-shimmer {
  animation: shimmer 1.4s infinite;
}